.git/
log/*
!log/.keep
node_modules/
public/assets/
public/packs/
public/packs-test/
storage/*
!storage/.keep
tmp/*
!tmp/.keep

.bundle
.byebug_history
.dockerignore
.env*
!.env.example
config/master.key
config/credentials/development.key
config/credentials/production.key
docker-compose.override.yml
yarn-error.log
yarn-debug.log*
.yarn-integrity
